/* GLOBAL */
* {
    scroll-behavior: smooth;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
    background-color: #eee;
	color: #333;
	margin: 0;
	padding: 2rem;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
    color: #333;
    background-color: #f4f4f4;
    outline: none;
    transition: all 0.1s ease-out;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
}

button:hover {
    cursor: pointer;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

i {
    height: 1em;
    width: 1em;
    /* font-size: 1.25rem; */
    font-size: inherit;
}

/* Project specific */

.chat-window {
    position: fixed;
    right: 3rem;
    bottom: 5rem;

    width: 40rem;
    max-width: 100vw;
    overflow: hidden;
    border-radius: 0.75rem;
    -webkit-border-radius: 0.75rem;
    -moz-border-radius: 0.75rem;
    -ms-border-radius: 0.75rem;
    -o-border-radius: 0.75rem;
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center !important;

    padding: 0.5rem 1rem 0.5rem 2rem;

    /* Nice blue background */
    background-color: rgb(86, 128, 255);
    color: #f7f7ff;
}

.chat-header h1 {
    line-height: 0.5em;
    font-size: x-large;
}

.chat-header-buttons {
    display: flex;
    align-items: center;
}

.chat-header button, .chat-header button:hover, .chat-header button:focus {
    border: none;
    background: none;
    color: inherit;
}

.chat-header button:active {
    color: #d3d3e0;
}

.chat-header button > i {
    font-size: 1.5rem;
}

.chat-body {
    background-color: #fff;
    width: 100%;
}

.chat-body-messages {
    padding: 1.5rem 1.5rem 0.5rem 1.5rem;
    overflow-y: auto;
    max-height: 20rem;
    
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.spacing-20 {
    margin-top: 20rem;
}

.chat-body-message {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.chat-body-message-text {
    width: fit-content;
    max-width: calc(70% - 1.5rem);
    height: min-content;
    padding: 0.7rem 1rem;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
}

.chat-body-message-info {
    color: #666;
    font-size: 0.8rem;
    padding: 0.2rem 0.75rem;
}

.chat-message-sent > .chat-body-message-text {
    background-color: rgb(77, 121, 255);
    color: #fff;
}

.chat-message-received > .chat-body-message-text {
    background-color: #e3e3e3;
    color: #333;
}

.chat-message-sent > * {
    margin-left: auto;
}

.chat-message-received > * {
    margin-right: auto;
}

.chat-alternatives > * {
    border-top: 1px solid #0001;
    padding: 0.75rem;
    display: flex;
    justify-content: space-between;
    gap: 0.75rem;
}

.chat-alternatives > #chatButtonAction > button{
    border: none;
    background-color: #eee;
    color: inherit;
    padding: 0.5rem 1rem;
    width: 100%;
    min-height: 3rem;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
}

#chatTypingField {
    display: none;
    gap: 0.8rem;
    align-items: center;
}

#chatTypingField > button {
    border: none;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.1rem;
    background-color: rgb(77, 121, 255);
    color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#chatTypingField > button:active {
    background-color: rgb(61, 98, 209);
    color: #ddd;
}

#textField {
    padding: 0.75rem 1rem;
    font-size: 1.1rem;
    width: calc(100% - 3.5rem);
    height: min-content;
    background: #eee;
    outline: none;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
}

#textField:focus {
    background-color: #e5e5e5;
}