:root {
    --border-radius: 0.2rem;
    --border: 0.1rem solid #222;

    --background-primary: #0a0a0a;
    --background-secondary: #111;
    --background-error: #ff000028;

    --text-focus: #fff;
    --text-placeholder: #333;
    --text-primary: #eee;
    --text-secondary: #eee;
    --text-error: #f66;
    --text-link: #22aaff;

}

* {
    outline: none !important;
}

body {
    background-color: var(--background-primary);
    padding: 2rem;
    margin: 0;
    font-family: sans-serif;
}

.row-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    max-width: calc(100vw - 4rem);
    width: 60rem;

    margin: auto;
}

.row-item {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    background-color: var(--background-secondary);
    padding: 2rem;
    border: var(--border);
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
}

/* .col-left {} */

/* .explanation {} */

h2 {
    font-size: xx-large;
    margin: 0 0 1rem 0;
    padding: 0;
    color: var(--text-primary);
}

/* ul {} */

li {
    line-height: 2rem;
    font-size: large;
    color: var(--text-secondary);
}

a {
    margin: 0;
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);

    font-size: inherit;
    text-decoration: none;
    color: var(--text-link);
}

a:hover {
    text-decoration: underline;
}

code {
    padding: 0.3rem 0.5rem;
    background-color: var(--background-primary);
    border-radius: var(--border-radius);
    border: var(--border);

    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
}

b {
    color: var(--text-primary);
    font-weight: 900;
}

.editor {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input, .input {
    font-family: monospace;
    font-size: x-large;
    color: var(--text-primary);
    
    width: calc(100% - 2rem);
    padding: 0.75rem 1rem;
    background-color: var(--background-primary);
    border: var(--border);
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: vfar(--border-radius);
    -o-border-radius: var(--border-radius);
}

#errorMessage {
    width: min-content;
    max-height: 0rem;
    padding: 0.3rem 0.6rem;
    opacity: 0%;
    
    line-height: 1.5rem;
    font-size: 0.9rem;
    white-space: nowrap;
    color: var(--text-error);
    background: var(--background-error);
    border-radius: var(--border-radius);
    transition: all 0.2s ease-out;
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
}

#htmlOutput {
    justify-content: center;
}

#cssOutput {
    flex-direction: column;
}

.col-right {
    align-items: center;
    display: flex;

    background-color: var(--background-primary);
    border: var(--border);
    border-radius: var(--border-radius);

    width: 100%;
    min-height: 20rem;
    /* max-height: 30rem; */
    overflow: hidden;
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
}

.col-right span {
    color: var(--text-placeholder);
    font-size: x-large;
}

.col-right img {
    /* min-width: 100%; */
    object-fit: cover;
    width: 100%;
    height: 100%;
    /* height: 100%; */
}

.col-right h1, .col-right h2, .col-right h3, .col-right h4, .col-right h5 {
    margin: 0 0 1rem 0;
    padding: 0;
    color: var(--text-primary);
}

.col-right h2 {
    font-size: x-large;
}