@font-face {
    font-family: 'NotoEmoji NF';
    src: url('../fonts/NotoEmojiNerdFont.woff2') format('woff2'),
        url('../fonts/NotoEmojiNerdFont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NotoMono NF';
    src: url('../fonts/NotoMonoNerdFont.woff2') format('woff2'),
        url('../fonts/NotoMonoNerdFont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}